body{
    background: linear-gradient(to right,black,grey,white);
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80px;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(45deg,red,orange,yellow,green,blue,indigo,violet,pink);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    animation: gradientAnimation 5s ease infinite;
}
@keyframes gradientAnimation{
    0%{
        background-position: 0% 15%;
    }
    15%{
        background-position: 30% 15%;
    }
    30%{
        background-position: 30% 45%;
    }
    45%{
        background-position: 45% 50%;
    }
    50%{
        background-position: 50% 60%;
    }
    60%{
        background-position: 60% 70%;
    }
    70%{
        background-position: 70% 85%;
    }
    85%{
        background-position: 85% 100%;
    }
}
#buttonContainer button{
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.2s ease;
}
#buttonContainer button:hover{
    transform: translateY(-3px);
    background-color: rgba(0,0,0,0.1);
}
#buttonContainer button:focus{
    outline: none;
}
.btn-outline-danger{
    border-color: #dc3545;
    color: #dc3545;
}
.btn-outline-danger:hover{
    background-color: #dc3545;
        color: white;
}
#myClockDisplay{
    transition: transform 0.5s ease-out;
    letter-spacing: 7px;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    color: #17d4fe;
    font-family: Orbitron, sans-serif;
    border: 2px dashed yellow;
    border-radius: 20px;
    width: 45%;
    margin: auto;
    background-image: linear-gradient(-225deg, pink 0%, lavender 29%, skyblue 67%, lightgreen 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
}
@media(max-width:576px){
    h1{
        font-size: 40px;
    }
    #myClockDisplay{
        font-size: 40px;
        width: 80%;
        padding: 5px;
    }
    #buttonContainer button{
       font-size: 16px;
       padding:10px 20px;
    }
}
@keyframes textclip{
    to{
        background-position: 200% center;
    }
}